{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
          <li class="breadcrumb-item"><a href="{% url 'boyacilar' %}">Boyacılar</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    <div class="row">
    <div class="col-6">
        <h1>{{ boyaci.isim|title }}</h1>
    </div>
    <div class="col-6"> 
        
        <button type="button" class="btn btn-outline-danger float-right ml-1" data-toggle="modal" data-target="#exampleModal">Sil</button>
                <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                {{boyaci.isim|title}} isimli kişiye silmek istediğinizden emin misiniz?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <a href="{% url 'boyaci_sil' boyaci.id %}"><button type="button" class="btn btn-danger">Sil</button></a>
                </div>
            </div>
            </div>
        </div>
        <a href="{% url 'boyaci_duzenle' boyaci.id %}">
            <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
            <button type="button" class="btn btn-outline-success float-right ml-1">Düzenle</button>
        </a>
        <a href="{% url 'is_ekle' %}">
            <button type="button" class="btn btn-outline-primary float-right ml-1">İş Ekle</button>
        </a>
        
    </div>
    </div>
    <hr>    
    <div class="row">
        <div id="name" class="col-xl-3 col-sm-12 mb-5">
            <h6 class="text-muted">BİLGİLER</h6>
            <hr>
            <h5>Telefon</h5>
            <p>{{ boyaci.telefon_no }}</p>
            <hr>
            <h5>Açıklama</h5>
            <p>{{ boyaci.aciklama }}</p>
            <hr>
            <h5>Etiket</h5>
            <p>
                {% for etiket in boyaci.boyaci_etiket.all %}
                    <a href="{% url 'etiket' etiket.id %}" class="badge badge-primary">{{ etiket }}</a>
                {% endfor %}
            </p>
        </div>
        <div id="isler" class="col-xl-9 col-sm-12">
        <h6 class="text-muted">YAPTIĞI İŞLER</h6>
        <hr>
        {% if boyaci.verilen_isler.all %}
        {% for is in boyaci.verilen_isler.all  reversed%}
            <h5>{{is.is_tarihi|date:"d M Y"}} - {{is.is_tarihi|timesince}} önce</h5>
            <p>{{is.is_aciklama}}</p>
            <hr>
        {% endfor %}
        {% else %}
        <p>Verilen iş bulunmamaktadır.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

