{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
          <li class="breadcrumb-item active" aria-current="page">Boyacilar</li>
        </ol>
      </nav>
  <div class="row">
    <div class="col-6">
      <h3>Boyacilar</h3>
    </div>
    <div class="col-6"> 
      <a href="{% url 'boyaci_ekle' %}"><button type="button" class="btn btn-outline-primary float-right">Ekle</button></a>
    </div>

  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      
      <th scope="col">İsim</th>
      <th scope="col">Telefon</th>
      <th scope="col">Etiketler</th>
    </tr>
  </thead>
  <tbody>
  {% for boyaci in boyacilar %}
    <tr>
      <td><a href="{% url 'boyaci_ayrinti' boyaci.id %}">{{boyaci.isim|title}}</a></td>
      <td>{{boyaci.telefon_no}}</td>
      <td>
      {% for etiket in boyaci.boyaci_etiket.all %}
        <a href="{% url 'etiket' etiket.id %}" class="badge badge-primary">{{ etiket }}</a>
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock content %}