{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
          <div class="col-6"><h3>Borç Defteri</h1></div>
          <div class="col-6 text-right"><a type="button" href="{% url 'defter_ekle' %}" class="btn btn-outline-secondary align-right">Ekle</a></div>
          </div>
          {% for defter in defterler %}
            <div class="card mb-2"  style="background-color: #f0f7fc">
              <div class="card-header">
              <div class="row">
                <div class="col-6"><a href="{% url 'defter_ayrinti' defter.id %}"><h5>{{defter.borclu_isim|title}}</h5></a></div>
                <div class="col-6 text-right">
                {{defter.borc_baslangic}}
                </div>
              </div>
              </div>
              <div class="card-body">
                <p class="card-text">{{defter.borclu_aciklama}}</p>
              </div>
              <div class="card-footer text-muted">
              <div class="row">
                <div class="col-6">Tel: {{defter.borclu_telefon}}</div>
                <div class="col-6 text-right">Ödeme Tarihi: {{defter.borc_son_odeme}}</div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
</div>
{% endblock content %}