<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>a</title>
</head>
<body>
<div id="ana">
{% for notum in notlar %}

    <input type="checkbox"  id="{{notum.id}}" name="{{notum.id}}" onclick="myFunction(this.name)" {% if notum.yapildi_mi %} checked{% endif %}>
    <label id="label-{{notum.id}}" name="{{notum.id}}" style="text-decoration:{% if notum.yapildi_mi %}line-through{% else %}none{% endif %}; color:{% if notum.yapildi_mi %}gray{% else %}black{% endif %};">{{notum.not_aciklama}}</label><br>

{% endfor %}
</div>
<br>
<form method="POST" class="post-form">{% csrf_token %}
        {{ forms}}
        <button type="submit">Kaydet</button>
</form>

<script>
function ekleme() {
  var x = document.getElementById("not").value;
  document.getElementById('not').value = ''
  $.ajax({
        url: '/ajax/not_ekle/',
        data: {'not': x,},
        dataType: 'json',
        success: function (data) {
          var check=document.createElement("input");
          check.type="checkbox";
          check.id = data.id
          check.name = data.id
          check.onclick = "myFunction(this.name)"
          var para=document.createElement("label");
          para.innerHTML = data.not_aciklama;
          var bosluk = document.createElement("br")
          document.getElementById("ana").appendChild(check);
          document.getElementById("ana").appendChild(para);
          document.getElementById("ana").appendChild(bosluk);
        }
      });
}


function myFunction(isim) {
  var checkBox = document.getElementById(isim);
  var text = document.getElementById("label-"+isim);

  if (checkBox.checked == true){
    text.style.textDecoration = "line-through";
    text.style.color = "gray";
    $.ajax({
        url: '/ajax/validate_username/',
        data: {'numara': isim, 'deger':'yapildi'},
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            console.log('Başarılıl');
          }
        }
      });

  } else {
     text.style.textDecoration = "none";
     text.style.color = "black";
     $.ajax({
        url: '/ajax/validate_username/',
        data: {'numara': isim, 'deger':'yapilmadi'},
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            console.log('Başarılıl');
          }
        }
      });
  }
}
</script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>

</html>