{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
          <li class="breadcrumb-item"><a href="{% url 'isler' %}">İşler</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ekle</li>
        </ol>
      </nav>
<h2>Verilen İş Formu</h2>
<hr>
<form method="post" novalidate>
    {% csrf_token %}
    {{forms|crispy}}
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>  
</div>
{% endblock content %}